<div class="navbar">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="left">
        <a class="noselect" href="https://discord.gg/9sDzhWD">Support Server</a>
        <a class="noselect" href="https://discord.com/oauth2/authorize?client_id=670963766850224159&scope=bot&permissions=2146958847">Bot Invite</a>
        <a class="noselect" href="http://patreon.com/bulgee">Patreon</a>
    <div class="right">
        <a class="noselect" href="/">Home</a>
    </div>
</div>
</div>