<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Dashboard - Bulgee</title>


  <link rel="stylesheet" type="text/css" href="/dashboard.css">
	
</head>
<body>
    <%- include('partials/navbar2.ejs') %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id='stars22'></div>
<div id='stars23'></div>
<div id='title'>
  <span class="noselect">
    COMMING SOON
  </span>
  <br>
</div>
</div>
    </div>
  </body>
</html>